.mainLandingBox {
   background-color: hsl(233, 84%, 80%);
   min-height: 100vh;
   justify-content: center;
   align-items: center;
}

.navigationBox {
   background-color: hwb(233 35% 5%);
   justify-content: center;
   align-items: center;
   display: flex;

}

.landingBox {
   background-color: beige;
   display: flex;
   /* justify-content: space-between; */
   justify-content: center;
   align-items: center;
   max-height: 850px;
   min-height: 810px;
}


.infoBox {
   display: inline-block;
   background-color: rgb(232, 177, 105);
   max-width: 45%;
   min-width: 45%;
   max-height: 100%;
   min-height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.signBox {
   display: inline-block;
   background-color: #e8dd69;
   max-width: 45%;
   min-width: 45%;
   max-height: 100%;
   min-height: 100%;
}

.imageLanding { 
   max-width: 100%;
}