*{box-sizing: border-box;}

.openButton {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

.formPopup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

.formContainer {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

.formContainer input[type=text], .formContainer input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.formContainer input[type=text]:focus, .formContainer input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.formContainer .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

.formContainer .cancel {
  background-color: red;
}

.formContainer .btn:hover, .open-button:hover {
  opacity: 1;
}