.mainSalesBox {
    background-color: hsl(233, 84%, 80%);
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}
.navigationBox {
    background-color: hwb(233 35% 5%);
    background-color: hwb(233 35% 5%);
    justify-content: center;
    align-items: center;
    display: flex;
 
}